<!DOCTYPE html>
<html>
  <head>
    <title>Colby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
       <div class='container'>
         <%= link_to 'Home', welcome_home_path %>
         <%= link_to 'Poem', welcome_poem_path %>
         <%= link_to 'Quotes', welcome_quotes_path %>
         <h1>Colby & Emily</h1>
</div>
    </div>


    <%= yield %>
  </body>
</html>
